h1{
 color: blue;
 text-align: center;
}
p{
  color: darkmagenta
}
a{
  color: orange
}
h3{
  color: #f002e5;
  width: 50%;
  border: 3px Solid rgb(0, 68, 255);
}
li{
  color: blue;
  font-family:cursive,sans-serif,monospace;
  font-weight: bold;
  font-size: 20px;
  border: 3px Solid red ;
  background-color: yellow;
  width: 50%;
  text-align:center;
}
ul{
  background-color: lime;
}
